<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Reminder Title</ion-label>
        <ion-input type="text">
      </ion-item>
      <ion-item>
        <ion-label>Reminder Content</ion-label>
        <ion-input type="text"></ion-input>
        
        </ion-item>
      <ion-item>
        <ion-label>Enter Date</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
